<!--bottom nav-->

<footer>
  <!--copyright-->
    <nav class="navbar fixed-bottom navbar-dark bg-dark">
      <h8 class="display-9 navbar-text"> &copy; Copyright 2023. All Rights reserved. VidaMajd </h8>
  </nav>
  <!--copyright-->
  </footer>
