<!--Vida Majd, ID 301238005, Assignment 1, Feb 5,2023-->
<!--scripts section-->
<!--activating jquery and bootstrap so the styles work-->
<script src="/jquey/dist/jquery.min.js "></script>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/scripts/app.js"></script>
</body>
</html>






