<!--Vida Majd, ID 301238005, Assignment 1, Feb 5,2023-->

<%- include ('partials/header.ejs') %>
<%- include('partials/main_nav.ejs') %>

<!--projects-->
<div>
    <h2 class="about-me">Projects</h2>
    <hr style="width:500px; height: 5px; margin: auto; color: black;" class="about-line"> <br>
    

    <h3>Flight widget</h3>

<div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <img src="../Assets/images/flight.png" style="width:300px;height:300px;">
    </div>
    <div class="flip-card-back">
      <h1>Flight Widget</h1> 
      <p>Developer, UX design</p> 
      <p>I worked on this project to create a user friendly widget for seniors</p>
    </div>
  </div>
</div><br>


<h3>Super Mario</h3>

<div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <img src="../Assets/images/mario.png" style="width:300px;height:300px;">
    </div>
    <div class="flip-card-back">
      <h1>Super Mario </h1> 
      <p>Developer, UX/UI design</p> 
      <p>This was a fun project to work on. Challenged my coding skills to create this a little differentl</p>
    </div>
  </div>
</div><br>


<h3>Calculator</h3>

<div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <img src="/../Assets/images/calc.png" style="width:300px;height:300px;">
    </div>
    <div class="flip-card-back">
      <h1>Calculator</h1> 
      <p>ADeveloper, Designer</p> 
      <p>Focus was to create a calcylator for elementary school level</p>
    </div>
  </div>
</div>
</div><br><br><br><br>

<%- include('partials/bottom_nav.ejs') %>
<%- include('partials/footer.ejs') %>